
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Nguoidung.cshtml";
}
<style>

    #phantren {
        display: none;
    }

    #danhmucchude {
        display: none;
    }

    #nxbtrai {
        display: none;
    }

    #phanduoi {
        display: none;
    }
</style>

<div style="margin-left:300px">
    <h1>2001216272</h1> 
    <h1>Họ tên: Lê Đức Tú</h1>
</div>

