
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Nguoidung.cshtml";
}
<style>

    #phantren {
        display: none;
    }

    #danhmucchude {
        display: none;
    }

    #nxbtrai {
        display: none;
    }

    #phanduoi {
        display: none;
    }
</style>
<div>
    <h4>SDT: 0865632776</h4>
    <h4>Địa chỉ: 140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, Thành phố Hồ Chí Minh, Việt Nam</h4>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.067226855124!2d106.62608107365587!3d10.806163158647347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBUaMawxqFuZyBUUC4gSOG7kyBDaMOtIE1pbmg!5e0!3m2!1svi!2s!4v1700556064714!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

