@using DoAnQLBS.Models;
@model List<CHUDE>
@foreach (var item in Model)
{
    <a href="@Url.Action("ChuDeSach", new {@machude = item.MACHUDE})" class="button button-inverted">@item.TENCHUDE</a>
}
<a href="@Url.Action("DanhMucChuDe")" class="button">Xem thêm</a>
